doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Фермер Сервис
    body(style='background: none; color: #000000; font-size: 16px; padding: 40px; display: block')

        div(style="display: flex; gap: 32px")
            div
                h4 Остальное
                ul
                    li
                        a(href="ui-kit.html" target="_blank") UI Kit
                    li
                        a(href="main.html" target="_blank") Главная
                h5 Услуги
                ul
                    li
                        a(href="service-catalog.html" target="_blank") Каталог услуг
                    li
                        a(href="service-section.html" target="_blank") Листинг услуг
                    li
                        a(href="service-card.html" target="_blank") Карточка услуги
                h5 Каталог. Племенные бараны
                ul
                    li
                        a(href="catalog.html" target="_blank") Листинг товаров
                    li
                        a(href="goods.html" target="_blank") Карточка товара
                h5 Текстовые страницы
                ul
                    li
                        a(href="news.html" target="_blank") Новости (листинг)
                    li
                        a(href="news-final.html" target="_blank") Страница Новости (конечная)
                    li
                        a(href="gallery.html" target="_blank") Фотогалерея

                    li
                        a(href="favourites.html" target="_blank") МОИ Избранное
                    li
                        a(href="search-results.html" target="_blank") Поиск товары/новости
                h5 WIKI
                ul
                    li
                        a(href="wiki.html" target="_blank") Раздел Wiki
                    li
                        a(href="wiki-listing.html" target="_blank") Раздел Wiki Листинг
                    li
                        a(href="wiki-detailed.html" target="_blank") Раздел Wiki Детально
                h5 ЛК
                ul
                    li
                        a(href="profile-info.html" target="_blank") Настройка личных данных
                    li
                        a(href="profile-sub.html" target="_blank") ЛК: Подписки
                    li
                        a(href="basket.html" target="_blank") Корзина
                    li
                        a(href="orders.html" target="_blank") Мои заказы
                    li
                        a(href="profile-requests.html" target="_blank") Мои закупки
                    li
                        a(href="profile-auction.html" target="_blank") Мои продажи живого скота

            div
                h4 Кавказмясо выставляет #[br] заявки на покупку барашков
                ul
                    li
                        a(href="catalog-purchase.html" target="_blank") Биржа покупка
                    li
                        a(href="purchase.html" target="_blank") Карточка заявки на закупку
            div
                h4 Кавказмясо #[br]выставляет барашка на аукцион (продажа)
                ul
                    li
                        a(href="catalog-auction.html" target="_blank") Биржа продажа
                    li
                        a(href="card-auction.html" target="_blank") Карточка аукциона продажа
            div 
                h4 PopUP
                ul
                    li
                        a(href="popup-supply-offer.html" target="_blank") Пользователь откливается на предложение о закупке
                    li 
                        a(href="popup-sign-up.html" target="_blank") ЛК: Регистрация пользователя
                    li 
                        a(href="popup-sign-in.html" target="_blank") ЛК: Авторизация пользователя (Стандартный вход)
                    li 
                        a(href="popup-sign-in-num.html" target="_blank") ЛК: Авторизация пользователя (По номеру телефона)
                    li 
                        a(href="popup-sign-in-sms.html" target="_blank") ЛК: Авторизация пользователя (sms код)
                    li 
                        a(href="popup-attention.html" target="_blank") Проверка контактных данных
                    li 
                        a(href="popup-invalid-pass.html" target="_blank") Введен неверный пароль
                    li 
                        a(href="popup-exceeded.html" target="_blank") Превышено число попыток входа
                    li 
                        a(href="popup-change-pass.html" target="_blank") Изменение пароля
                    li 
                        a(href="popup-email-conf.html" target="_blank") Подтверждение email
                    li 
                        a(href="popup-data-conf.html" target="_blank") Подтверждение данных
                    li 
                        a(href="popup-help.html" target="_blank") Мне нужна помощь
                    li 
                        a(href="popup-bid-sent.html" target="_blank") Предложение отправлено
                    li 
                        a(href="popup-new-bid.html" target="_blank") Сделать новую ставку