extends ../pug/layouts/layout
include ../pug/include/_news-carousel
include ../pug/include/_date

block meta
    title Каталог услуг
    meta(name='description', content='')

block vars
    - let page = 'service';

block Content

    +breadcrumbs(breadcrumbsCatalogData)

    section.news 
        .container
            +page-title("Китай ограничивает себя в российской еде")
            +date({dataTime:"24-11-2021 00:47", time:"24.11.2021, 00:47"}).date--news
            .news-wrapper 
                .widget-socials 
                    .socials__item 
                        include ../images/svg/vk.svg
                    .socials__item 
                        include ../images/svg/odnoklassniki.svg
                    .socials__item 
                        include ../images/svg/facebook.svg
                    .socials__item 
                        include ../images/svg/twitter.svg
                .news-article 
                    .news-article__subtitle Экспорт продовольствия в страну в этом году сократится
                    p Бараны и матки достигают половой зрелости в возрасте 7–8 месяцев. Овцы шароле имеют круглогодичный цикл размножения. Средний показатель окота в декабре 180–190%, в феврале -около 200–215%, чаще рождаются двойни, иногда тройни. У маток отмечаются легкие окоты. Бараны-производителя отличаются «трудолибием», активностью и неутомимостью, могут оплодотворять самок в течение года на протяжении 6–7 сезонов. Иссследования показали, что бараны шароле дают больше ягнят, чем бараны производители других пород.
                        | Среднесуточные привесы ягнят до 56 дня составляют 380–650 г. в зависимости от пола и количества рожденных особей в одном помете.
                    .news-article__img
                        img(src=require('../images/news-article.png'), alt="Новость")
                        .news-article__photograph Фото: Глеб Щелкунов, Коммерсантъ
                    p Экспорт российского продовольствия в Китай по итогам года может сократиться на 10%, до $3,6 млрд, год к году, прогнозирует Центр отраслевой экспертизы Россельхозбанка (РСХБ). Как отмечается в исследовании, по итогам января—октября поставки продукции АПК в страну в натуральном выражении снизились на 16,5%, до 3,08 млн тонн, в денежном — на 8,3%, до $2,9 млрд.
                    p Основная причина — введенные КНР ограничения на ввоз рыбы и морепродуктов из РФ, объем поставок которых в январе—октябре сократился на 68,8%, до 282,9 тыс. тонн, а стоимость — на 38%, до $838 млн, год к году, подсчитали в РСХБ. На этом фоне поставки рыбы и морепродуктов в Южную Корею увеличились на 37%, до $1,7 млрд. В результате доля страны среди крупнейших азиатских импортеров продукции российского АПК выросла с 27% до 35%, а доля Китая сократилась с 63% до 52%, отмечают в РСХБ.
                    .news-article__advice Если в вас возникли вопросы, связанные с работой нашего сервиса, пожалуйста, оставьте свой номер телефона, и наш менеджер свяжется в вами для консультации.
                    p Так, в ноябре ввоз расфасованных продуктов приостановила администрация города Суйфэньхэ, а власти округа Хулун-Буир ввели запрет на импорт продуктов, требующих особого температурного режима, среди которых мясо, молоко и др.
                    p В группе «Черкизово» отмечают, что поставки птицеводческой продукции в Китай стабильны, а ограничения импорта носят локальный характер и пока никак не сказываются на компании. Старший директор по экспортной деятельности «Балтики» (часть Carlsberg Group) Алла Манякина также отмечает, что, несмотря на ограничения, рынок КНР остается одним из ключевых экспортных направлений.
                    .news-article-section 
                        .news-article__subtitle Последние предложения
                        .table
                            .table-row.table-row-head
                                .table-cell Номер участника
                                .table-cell Дата поставки
                                .table-cell Кол-во голов
                                .table-cell Цена за кг ЖВ
                            .table-row
                                .table-cell.table-cell__num 1000122
                                .table-cell 16.03.2022
                                .table-cell 12
                                .table-cell 130 ₽

                            .table-row
                                .table-cell.table-cell__num 1000122
                                .table-cell 26.02.2022
                                .table-cell 33
                                .table-cell 140 ₽

                            .table-row
                                .table-cell.table-cell__num 1000122
                                .table-cell 01.03.2022
                                .table-cell 44
                                .table-cell 140 ₽
                    .news-article-section 
                        .news-article__subtitle Селекция/генетика
                        ul.news-article-list
                            li Анализ племенной базы
                            li Рекомендации по улучшению племенных качеств 
                            li Отбор и подбор животных
                            li Создание и ведение племенного ядра стада
                            li Предоставление референтной базы овец и баранов для улучшения племенного ядра стада
                    .news-article-section 
                        .news-article__subtitle Селекция/генетика
                        ol.news-article-list
                            li Анализ племенной базы
                            li Рекомендации по улучшению племенных качеств 
                            li Отбор и подбор животных
                            li Создание и ведение племенного ядра стада
                            li Предоставление референтной базы овец и баранов для улучшения племенного ядра стада
                    .news-article__author Автор: 
                        span Анатолий Костырев
                    .news-article__info 
                        | Больше читайте на сайте Коммерсантъ:
                        a(href="#") https://www.kommersant.ru/doc/5089277
            .news-latest
                h2 Последние новости АПК
                +newsCarousel(news)
                a.section__more.btn.btn--secondary(href='/news') Перейти в раздел

                