extends ../pug/layouts/layout
block meta
    title Авторизация пользователя
    meta(name='description', content='')


block Content
    .modal
        .modal-overlay
        form.modal-content
            .modal__close
            .modal__title Авторизация пользователя
            .modal__line
            .sign__cell
                .sign__cell--info-clear Ваша учетная запись создана. На вашу почту  отправлена ссылка — подтвердите учетную запись. На ваш телефонный номер отправлено sms с кодом. Введите код в поле ниже:
                .modal__line.modal__line--cell
                .mt-1
                    .col.col-12
                        .form__field.form__field--floating
                            label.form__label Введите код из SMS-сообщения
                            input.form__field-input(type='text' value='' placeholder='Введите код из SMS-сообщения' name=""  )
                            p Повторное sms придет через: 
                                span.sign__form.sign__form--kit 56 сек.
                .modal__footer
                    button.btn.btn--third(type='button') Отправить
                    a.sign__link--pass(href='#') Выслать код повторно