extends ../pug/layouts/layout
block meta
    title Внимание!
    meta(name='description', content='')


block Content
    .modal
        .modal-overlay
        form.modal-content
            .modal__close
            .modal__title Внимание!
            .modal__line.modal__line--cell
            .sign__cell
                .sign__cell--info-clear Проверьте, пожалуйста, контактные данные. Номер телефона и почту потребуется подтвердить на следующем этапе.
            .modal__footer
                button.btn.btn--primary(type='button') Понятно
            