extends layouts/layout
include include/_date
include include/_label-category
include include/_wiki-card

block meta
    title База знаний
    meta(name='description' content='')

block vars
    - let page = 'wiki-detailed';

block Content

    +breadcrumbs(breadcrumbsCatalogData)

    .container 
        +page-title("Вредители укрывной пленки")
        
        .wiki-detailed 
            .wiki-detailed__top-data
                +label-category("Популярное").label-category--mr20
                +date({dataTime:"24-11-2021", time:"24.11.2021"}).wiki--detailed

            .wiki-detailed__section
                .wiki-detailed__content
                    .news-article 
                        .news-article__img
                            img(src=require('../images/wiki/wiki-detailed-1.jpg') alt="")
                            
                        .news-article__advice Если в вас возникли вопросы, связанные с работой нашего сервиса, пожалуйста, оставьте свой номер телефона, и наш менеджер свяжется в вами для консультации.

                        .news-article__subtitle Экспорт продовольствия в страну в этом году сократится
                        
                        p Бараны и матки достигают половой зрелости в возрасте 7–8 месяцев. Овцы шароле имеют круглогодичный цикл размножения. Средний показатель окота в декабре 180–190%, в феврале -около 200–215%, чаще рождаются двойни, иногда тройни. У маток отмечаются легкие окоты. Бараны-производителя отличаются «трудолибием», активностью и неутомимостью, могут оплодотворять самок в течение года на протяжении 6–7 сезонов. Иссследования показали, что бараны шароле дают больше ягнят, чем бараны производители других пород. Среднесуточные привесы ягнят до 56 дня составляют 380–650 г. в зависимости от пола и количества рожденных особей в одном помете.

                        .news-article-section 
                            .news-article__subtitle Селекция/генетика
                            ul.news-article-list
                                li Анализ племенной базы
                                li Рекомендации по улучшению племенных качеств 
                                li Отбор и подбор животных
                                li Создание и ведение племенного ядра стада
                                li Предоставление референтной базы овец и баранов для улучшения племенного ядра стада

                        p Экспорт российского продовольствия в Китай по итогам года может сократиться на 10%, до $3,6 млрд, год к году, прогнозирует Центр отраслевой экспертизы Россельхозбанка (РСХБ). Как отмечается в исследовании, по итогам января—октября поставки продукции АПК в страну в натуральном выражении снизились на 16,5%, до 3,08 млн тонн, в денежном — на 8,3%, до $2,9 млрд.

                        p Основная причина — введенные КНР ограничения на ввоз рыбы и морепродуктов из РФ, объем поставок которых в январе—октябре сократился на 68,8%, до 282,9 тыс. тонн, а стоимость — на 38%, до $838 млн, год к году, подсчитали в РСХБ. На этом фоне поставки рыбы и морепродуктов в Южную Корею увеличились на 37%, до $1,7 млрд. В результате доля страны среди крупнейших азиатских импортеров продукции российского АПК выросла с 27% до 35%, а доля Китая сократилась с 63% до 52%, отмечают в РСХБ.


                        p Так, в ноябре ввоз расфасованных продуктов приостановила администрация города Суйфэньхэ, а власти округа Хулун-Буир ввели запрет на импорт продуктов, требующих особого температурного режима, среди которых мясо, молоко и др.


                        p В группе «Черкизово» отмечают, что поставки птицеводческой продукции в Китай стабильны, а ограничения импорта носят локальный характер и пока никак не сказываются на компании. Старший директор по экспортной деятельности «Балтики» (часть Carlsberg Group) Алла Манякина также отмечает, что, несмотря на ограничения, рынок КНР остается одним из ключевых экспортных направлений.

                        .wiki-category
                            a(href="#").wiki-category__item Корма
                            a(href="#").wiki-category__item Cелекция
                            a(href="#").wiki-category__item Кормление

                    .wiki-detailed__bottom 
                        a.btn.btn--back-to-catalog
                            include ../images/svg/arrow-back-button.svg
                            | Назад к списку статей

                        .widget-socials 
                            .socials__item 
                                include ../images/svg/vk.svg
                            .socials__item 
                                include ../images/svg/odnoklassniki.svg
                            .socials__item 
                                include ../images/svg/twitter.svg
                            .socials__item 
                                include ../images/svg/facebook.svg

                .wiki-detailed__news
                    span.wiki-detailed__news-title Популярные статьи
                    .wiki-detailed__news-list
                        each item in wikiDetailedData
                            +wiki-card(item).wiki-card--detailed
