.service-card {
  .goods-img {
      margin-bottom: 26px !important;
    }
  
    .goods-desc {
      margin-bottom: 22px;
    }
  
    .goods-desc__text {
      margin-bottom: 22px;
    }

    .news-article-section {
      margin-top: 37px;
      margin-bottom: 38px;
    }

    .carousel__nav {
      margin-top: 6px;
    }
}