.news-list
    .news-item
        .news-item__header
            .news-item__source Известия
            .news-item__date 24 ноября 2021
        a(href="#").news-item__title ЦЕННЫЙ ПОДАРОК
        .news-item__desc По пессимистичному прогнозу уровень инфляции по итогам года составит 8,2-8,25%, по базовому - 8,05- 8,1%, по оптимистичному - 7,64%, поделился начальник аналитического отдела департамента по работе на рынках капитала Россельхозбанка Александр Фетисов...
    .news-item
        .news-item__header
            .news-item__source ТАСС
            .news-item__date 24 ноября 2021
        a(href="#").news-item__title РОССЕЛЬХОЗНАДЗОР ВОЗОБНОВЛЯЕТ ПОСТАВКИ ГОВЯДИНЫ И СВИНИНЫ С 12 ПРЕДПРИЯТИЙ БРАЗИЛИИ
        .news-item__desc Россельхознадзор с 25 ноября 2021 года возобновляет поставки говядины и свинины с 12 предприятий Бразилии... "Федеральная служба по ветеринарному и фитосанитарному надзору с 25 ноября 2021 года возобновляет поставки говядины и свинины с 12 бразильских предприятий, три из которых производят ...
    .news-item
        .news-item__header
            .news-item__source Известия
            .news-item__date 24 ноября 2021
        a(href="#").news-item__title ЦЕННЫЙ ПОДАРОК
        .news-item__desc По пессимистичному прогнозу уровень инфляции по итогам года составит 8,2-8,25%, по базовому - 8,05- 8,1%, по оптимистичному - 7,64%, поделился начальник аналитического отдела департамента по работе на рынках капитала Россельхозбанка Александр Фетисов...
    .news-item
        .news-item__header
            .news-item__source Парламентская газета
            .news-item__date 24 ноября 2021
        a(href="#").news-item__title РОССИЯ И ВЬЕТНАМ УКРЕПЛЯЮТ ОТНОШЕНИЯ В СФЕРЕ АПК - МИНСЕЛЬХОЗ
        .news-item__desc С приветственным словом к участникам обратился заместитель министра сельского хозяйства Сергей Левин, сообщили The DairyNews в пресс-службе Минсельхоза РФ...
    .news-item
        .news-item__header
            .news-item__source ТАСС
            .news-item__date 24 ноября 2021
        a(href="#").news-item__title РОССЕЛЬХОЗНАДЗОР ВОЗОБНОВЛЯЕТ ПОСТАВКИ ГОВЯДИНЫ И СВИНИНЫ С 12 ПРЕДПРИЯТИЙ БРАЗИЛИИ
        .news-item__desc Россельхознадзор с 25 ноября 2021 года возобновляет поставки говядины и свинины с 12 предприятий Бразилии... "Федеральная служба по ветеринарному и фитосанитарному надзору с 25 ноября 2021 года возобновляет поставки говядины и свинины с 12 бразильских предприятий, три из которых производят ...