mixin offersCarousel(data)
    .carousel.js-carousel
        .swiper-wrapper
            each item, index in data
                if index === 0
                    +offerItem(item, true, true)
                else
                    +offerItem(item, false, true)
        .carousel__nav
            button.carousel__nav-item.carousel__nav-item--prev.js-carousel-button-prev
                include ../../images/svg/arrow.svg
            button.carousel__nav-item.carousel__nav-item--next.js-carousel-button-next
                include ../../images/svg/arrow.svg

