.pagination 
    .pagination-item.pagination__prev Назад
        include ../../images/svg-sprite/arrow-ios-right.svg
    .pagination-item.active 1
    .pagination-item 2
    .pagination-item 3
    .pagination-item 4
    .pagination-item.pagination__next Вперед
        include ../../images/svg-sprite/arrow-ios-right.svg