section.promo
    .promo__img
        picture
            source(srcset=require('../../images/promo-mobile.png') media="(max-width: 768px)")
            img(src=require('../../images/promo.png') width='1366' height='680' alt='Ферм Сервис')
    .promo__logo Ферм Сервис
    .promo__title Мы поможем увеличить ваш доход!
    a.promo__btn.btn.btn--light(href='#') Подробнее о проекте