@mixin link($color:$color-link, $color-hover: $color-link, $text-decoration-hover: underline) {
    text-decoration: none;
    color: $color;

    &:hover {
        color: $color-hover;
        text-decoration: $text-decoration-hover;
    }
}

// LINK + ICO
@mixin link-ico(
    $size: 24px,
    $color: $color,
    $color-ico: $color,
    $color-hover: $color-invert,
    $color-ico-hover: $color-hover,
    $margin: 8px,
    $text-direction-hover: underline,
    $direction: false) {
    @include link($color, $color-hover);
    display: flex;
    align-items: center;
    transition: all $transition-time ease-in;

    &:hover {
        text-decoration: $text-direction-hover;
    }

    svg:not([class]) {
        width: $size;
        height: $size;
        flex: 0 0 $size;
        fill: $color-ico;

        @if $direction == left {
            margin-right: $margin;
        } @else if $direction == right {
            margin-left: $margin;
        } @else {
            margin: 0;
        }
        transition: all $transition-time ease-in;
    }

    &:hover {
        svg {
            fill: $color-ico-hover;
        }
    }

    &--active {
        svg {
            fill: $color-ico-hover;
        }
    }
}

a:not([class]), .link {
    @include link();

    .link__ico {
        fill: $color-link;
    }
}

.link--secondary {
    @include link($color-secondary);

    .link__ico {
        fill: $color-secondary;
    }
}

.link--bg{
    @include btn-size();
    @include btn-style($background-btn-light, $color-link, $color-link, $background-btn-light);

    &.link--secondary{
        @include btn-style($background-btn-light, $color-secondary, $color-secondary, $background-btn-light);
    }

    &:hover{
        svg{
            fill: #ffffff;
        }
    }
}

.link--invert {
    @include link($color-invert, $color-invert);
}

button.link, input.link {
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
}

.link--disabled {
    @include link(#9198A0);
    cursor: default;
}

.link__ico {
    margin: -2px 8px 0 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    @include size(24px);

    &:last-child {
        margin: -2px 0 0 8px;
    }

    svg {
        @include size(24px);
    }
}

.link__badge {
    @include badge-size();
    @include badge-style();
    position: absolute;
    right: -10px;
    top: -10px;
}
